<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9578e1b81727963d28a69801914590a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,107}</string>
                <key>spriteSourceSize</key>
                <string>{80,107}</string>
                <key>textureRect</key>
                <string>{{164,0},{80,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9b109b5e2fc980accb6144dece70859.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,1280}</string>
                <key>spriteSourceSize</key>
                <string>{159,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{159,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomSceneUI2.png</string>
            <key>size</key>
            <string>{244,1280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fccd3727e7cc342c79d5c558adfd89e8:b01c7874a69c67c41cf1bbbe45485c26:85be2b26ebbc881fd1ccacd2f7b7cd37$</string>
            <key>textureFileName</key>
            <string>RoomSceneUI2.png</string>
        </dict>
    </dict>
</plist>
