<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9578e1b81727963d28a69801914590a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,107}</string>
                <key>spriteSourceSize</key>
                <string>{80,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9b109b5e2fc980accb6144dece70859.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,2208}</string>
                <key>spriteSourceSize</key>
                <string>{160,2208}</string>
                <key>textureRect</key>
                <string>{{1,85},{160,2208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomSceneUI2.png</string>
            <key>size</key>
            <string>{162,2294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe309eeffa9c7099c86048d8fe90bb5c:a8abd43d029802a7a79059374805c8c9:85be2b26ebbc881fd1ccacd2f7b7cd37$</string>
            <key>textureFileName</key>
            <string>RoomSceneUI2.png</string>
        </dict>
    </dict>
</plist>
