<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,1280}</string>
                <key>spriteSourceSize</key>
                <string>{719,1280}</string>
                <key>textureRect</key>
                <string>{{941,397},{719,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,227}</string>
                <key>spriteSourceSize</key>
                <string>{167,227}</string>
                <key>textureRect</key>
                <string>{{1309,165},{167,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1236,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1359,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,174}</string>
                <key>spriteSourceSize</key>
                <string>{622,174}</string>
                <key>textureRect</key>
                <string>{{495,165},{622,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{165,165},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon02@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{330,165},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon03@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1482,0},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon04@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{0,165},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Big turntable@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,177}</string>
                <key>spriteSourceSize</key>
                <string>{182,177}</string>
                <key>textureRect</key>
                <string>{{1122,165},{182,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Diamonds@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,68}</string>
                <key>spriteSourceSize</key>
                <string>{340,68}</string>
                <key>textureRect</key>
                <string>{{632,0},{340,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Gold coin@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,68}</string>
                <key>spriteSourceSize</key>
                <string>{340,68}</string>
                <key>textureRect</key>
                <string>{{287,0},{340,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_notice@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{1167,0},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_voice_close@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,74}</string>
                <key>textureRect</key>
                <string>{{1072,0},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_voice_open@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{977,0},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{61,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{126,0},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{246,0},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,60}</string>
                <key>spriteSourceSize</key>
                <string>{13,60}</string>
                <key>textureRect</key>
                <string>{{187,0},{13,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{205,0},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,744}</string>
                <key>spriteSourceSize</key>
                <string>{936,744}</string>
                <key>textureRect</key>
                <string>{{0,397},{936,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomSceneUI1.png</string>
            <key>size</key>
            <string>{1660,1677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19cde45ad7a2f2cc6643af154dc4861:9a2661739ad8073d79ddc051f1bff30a:d165442d11566d32701da648f404d705$</string>
            <key>textureFileName</key>
            <string>RoomSceneUI1.png</string>
        </dict>
    </dict>
</plist>
