<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1242,2208}</string>
                <key>spriteSourceSize</key>
                <string>{1242,2208}</string>
                <key>textureRect</key>
                <string>{{1,1},{1242,2208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,227}</string>
                <key>spriteSourceSize</key>
                <string>{167,227}</string>
                <key>textureRect</key>
                <string>{{1015,2214},{167,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{975,2941},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coinLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{1098,2941},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,174}</string>
                <key>spriteSourceSize</key>
                <string>{622,174}</string>
                <key>textureRect</key>
                <string>{{1,2963},{622,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1015,2446},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon02@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1015,2611},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon03@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{810,2963},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon04@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1015,2776},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_Big turntable@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,177}</string>
                <key>spriteSourceSize</key>
                <string>{182,177}</string>
                <key>textureRect</key>
                <string>{{628,2963},{182,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_Diamonds@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,68}</string>
                <key>spriteSourceSize</key>
                <string>{340,68}</string>
                <key>textureRect</key>
                <string>{{942,2214},{340,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_Gold coin@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,68}</string>
                <key>spriteSourceSize</key>
                <string>{340,68}</string>
                <key>textureRect</key>
                <string>{{942,2559},{340,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_notice@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{1165,3064},{64,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_voice_close@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,74}</string>
                <key>textureRect</key>
                <string>{{975,3064},{90,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_voice_open@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{1070,3064},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1180,2474},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{1187,2214},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1187,2344},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,60}</string>
                <key>spriteSourceSize</key>
                <string>{13,60}</string>
                <key>textureRect</key>
                <string>{{942,2904},{13,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,60}</string>
                <key>spriteSourceSize</key>
                <string>{36,60}</string>
                <key>textureRect</key>
                <string>{{1187,2409},{36,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{1187,2279},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{936,744}</string>
                <key>spriteSourceSize</key>
                <string>{936,744}</string>
                <key>textureRect</key>
                <string>{{1,2214},{936,744}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomSceneUI1.png</string>
            <key>size</key>
            <string>{1244,3146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5332b8bbd241e036a067e5075c5b231a:10c878b7c65e8eba2e9ae0d067ffb112:d165442d11566d32701da648f404d705$</string>
            <key>textureFileName</key>
            <string>RoomSceneUI1.png</string>
        </dict>
    </dict>
</plist>
