<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,163}</string>
                <key>spriteSourceSize</key>
                <string>{245,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{245,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,163}</string>
                <key>spriteSourceSize</key>
                <string>{245,163}</string>
                <key>textureRect</key>
                <string>{{250,0},{245,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icnBg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{500,0},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icvideo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,60}</string>
                <key>spriteSourceSize</key>
                <string>{77,60}</string>
                <key>textureRect</key>
                <string>{{675,0},{77,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relife_timeBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{757,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameAlert.png</string>
            <key>size</key>
            <string>{807,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64a8bda368fe8bf3c0025707e40aac34:3e0bc1d37bb6ba9dd9e9c0c1770aa746:ee65f5833ede8095d36d2770640b8014$</string>
            <key>textureFileName</key>
            <string>gameAlert.png</string>
        </dict>
    </dict>
</plist>
