<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,171}</string>
                <key>spriteSourceSize</key>
                <string>{137,171}</string>
                <key>textureRect</key>
                <string>{{0,0},{137,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,196}</string>
                <key>spriteSourceSize</key>
                <string>{148,196}</string>
                <key>textureRect</key>
                <string>{{142,0},{148,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,166}</string>
                <key>spriteSourceSize</key>
                <string>{111,166}</string>
                <key>textureRect</key>
                <string>{{295,0},{111,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,202}</string>
                <key>spriteSourceSize</key>
                <string>{137,202}</string>
                <key>textureRect</key>
                <string>{{411,0},{137,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,173}</string>
                <key>spriteSourceSize</key>
                <string>{109,173}</string>
                <key>textureRect</key>
                <string>{{553,0},{109,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartAll.png</string>
            <key>size</key>
            <string>{662,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e38216666e339a7c2318ea4855d2a51:85c648c1c90a9177f13f18614971c6be:b7cc86ba63f86cc5f64e7e46f0f26ffa$</string>
            <key>textureFileName</key>
            <string>cartAll.png</string>
        </dict>
    </dict>
</plist>
