<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,518}</string>
                <key>spriteSourceSize</key>
                <string>{582,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero05.png</string>
            <key>size</key>
            <string>{584,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3df9f75a6abc70ca44681a4ddfa144b3:c7c6bf507ce2dc790fc87fcaa5d64515:ab444131849d131db74d196166b68dff$</string>
            <key>textureFileName</key>
            <string>Hero05.png</string>
        </dict>
    </dict>
</plist>
