<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>car01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,171}</string>
                <key>spriteSourceSize</key>
                <string>{137,171}</string>
                <key>textureRect</key>
                <string>{{825,1059},{137,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,379}</string>
                <key>spriteSourceSize</key>
                <string>{432,379}</string>
                <key>textureRect</key>
                <string>{{2831,907},{432,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,378}</string>
                <key>spriteSourceSize</key>
                <string>{432,378}</string>
                <key>textureRect</key>
                <string>{{2392,926},{432,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,378}</string>
                <key>spriteSourceSize</key>
                <string>{431,378}</string>
                <key>textureRect</key>
                <string>{{3329,440},{431,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car01_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,379}</string>
                <key>spriteSourceSize</key>
                <string>{432,379}</string>
                <key>textureRect</key>
                <string>{{3270,878},{432,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car01_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,378}</string>
                <key>spriteSourceSize</key>
                <string>{432,378}</string>
                <key>textureRect</key>
                <string>{{3329,1},{432,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,196}</string>
                <key>spriteSourceSize</key>
                <string>{148,196}</string>
                <key>textureRect</key>
                <string>{{670,1059},{148,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,348}</string>
                <key>spriteSourceSize</key>
                <string>{465,348}</string>
                <key>textureRect</key>
                <string>{{976,951},{465,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,348}</string>
                <key>spriteSourceSize</key>
                <string>{465,348}</string>
                <key>textureRect</key>
                <string>{{1448,951},{465,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,348}</string>
                <key>spriteSourceSize</key>
                <string>{465,348}</string>
                <key>textureRect</key>
                <string>{{1920,951},{465,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,348}</string>
                <key>spriteSourceSize</key>
                <string>{465,348}</string>
                <key>textureRect</key>
                <string>{{2176,1},{465,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,166}</string>
                <key>spriteSourceSize</key>
                <string>{111,166}</string>
                <key>textureRect</key>
                <string>{{1,1179},{111,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,392}</string>
                <key>spriteSourceSize</key>
                <string>{446,392}</string>
                <key>textureRect</key>
                <string>{{2176,473},{446,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car03_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,392}</string>
                <key>spriteSourceSize</key>
                <string>{446,392}</string>
                <key>textureRect</key>
                <string>{{2531,1},{446,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car03_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,392}</string>
                <key>spriteSourceSize</key>
                <string>{446,392}</string>
                <key>textureRect</key>
                <string>{{2575,454},{446,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car03_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,392}</string>
                <key>spriteSourceSize</key>
                <string>{446,392}</string>
                <key>textureRect</key>
                <string>{{2930,1},{446,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,202}</string>
                <key>spriteSourceSize</key>
                <string>{137,202}</string>
                <key>textureRect</key>
                <string>{{526,1059},{137,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>car04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{976,1},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{976,476},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{1376,1},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{1376,476},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{1776,1},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car04_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{468,393}</string>
                <key>spriteSourceSize</key>
                <string>{468,393}</string>
                <key>textureRect</key>
                <string>{{1776,476},{468,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,173}</string>
                <key>spriteSourceSize</key>
                <string>{109,173}</string>
                <key>textureRect</key>
                <string>{{174,1179},{109,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car05_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,518}</string>
                <key>spriteSourceSize</key>
                <string>{582,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car05_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,518}</string>
                <key>spriteSourceSize</key>
                <string>{582,518}</string>
                <key>textureRect</key>
                <string>{{1,590},{582,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car05_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{522,443}</string>
                <key>spriteSourceSize</key>
                <string>{582,443}</string>
                <key>textureRect</key>
                <string>{{526,1},{522,443}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>car05_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{522,443}</string>
                <key>spriteSourceSize</key>
                <string>{582,443}</string>
                <key>textureRect</key>
                <string>{{526,530},{522,443}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RoomCartUI.png</string>
            <key>size</key>
            <string>{3708,1305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892406777ff4d4e057daabcfc14dff2f:19c3e3dd0f4dc615985fee009a7ed165:ebcff5344a7f62aa3e8944fe275dc611$</string>
            <key>textureFileName</key>
            <string>RoomCartUI.png</string>
        </dict>
    </dict>
</plist>
