<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_img01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1242,2208}</string>
                <key>spriteSourceSize</key>
                <string>{1242,2208}</string>
                <key>textureRect</key>
                <string>{{0,0},{1242,2208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{841,320}</string>
                <key>spriteSourceSize</key>
                <string>{841,320}</string>
                <key>textureRect</key>
                <string>{{0,2208},{841,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,187}</string>
                <key>spriteSourceSize</key>
                <string>{668,187}</string>
                <key>textureRect</key>
                <string>{{841,2208},{668,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StartUI.png</string>
            <key>size</key>
            <string>{1509,2528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6383c5a5553e6f8e33a1597433070ad5:0db6503e31e815fa731159bf7556f00d:7f77cbfb268dffe0d99a551532bb0396$</string>
            <key>textureFileName</key>
            <string>StartUI.png</string>
        </dict>
    </dict>
</plist>
