<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_img01@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,1280}</string>
                <key>spriteSourceSize</key>
                <string>{720,1280}</string>
                <key>textureRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,159}</string>
                <key>spriteSourceSize</key>
                <string>{421,159}</string>
                <key>textureRect</key>
                <string>{{0,1285},{421,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start@1x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,94}</string>
                <key>spriteSourceSize</key>
                <string>{334,94}</string>
                <key>textureRect</key>
                <string>{{426,1285},{334,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StartUI.png</string>
            <key>size</key>
            <string>{760,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5efe0721625b6efa876e5ab8baeec4eb:7a70b832c3bdbe2d232ebd21e3f003ad:7f77cbfb268dffe0d99a551532bb0396$</string>
            <key>textureFileName</key>
            <string>StartUI.png</string>
        </dict>
    </dict>
</plist>
